# make your own .env file and add these variables in there

# environment variables for the Acceptance Criteria of creating a project

MAX_LEN_OF_PROJ_NAME = 30
MAX_LEN_OF_PROJ_DESC = 150
MAX_NUMBER_OF_PROJECTS = 10